 ##  Individual Exercise 1


1. Create a function that returns the addition, substraction, multiplication, and division of two numbers `a` and `b`, the default values for these numbers are 1.

2. Create a similar function as exercises 1, but add a parameter that selects the operation to be performed called `op`, and has the following options `op='sum'`, `op='sub'`, `op='mul'` and `op='div'`. Each of this options correspond to a single operation. The function default value is addition. Use return statements to return the selected operation.


3. Create a function that returns `n` terms of the Fibonacci Series. Example output:

`fibonacci(10)
0
1
1
2
3
5
8
13
21
34`

In [ ]:
def math_function(a=1, b=1):
  addition, substraction, multiplication, division = a+b, a-b, a*b, a/b if b > 0 else "No division by zero"
  return addition, substraction, multiplication, division

math_function(10,0)

(10, 10, 0, 'No division by zero')

In [ ]:
math_function(10,5)

(15, 5, 50, 2.0)

In [ ]:
def math_function_parameter(a=1, b=1, op="sum"):
  if op == "sum":
    return a + b
  if op == "sub":
    return a - b
  if op == "mul":
    return a * b
  if op == "div":
    return a/b if b > 0 else "No division by zero"
  else:
    return f"Unknown option: {op}. Please use sum, sub, mul or div"

print(math_function_parameter(10, 0, "sum"))
print(math_function_parameter(10, 0, "sub"))
print(math_function_parameter(10, 0, "mul"))
print(math_function_parameter(10, 0, "div"))

print(math_function_parameter(10, 5, "sum"))
print(math_function_parameter(10, 5, "sub"))
print(math_function_parameter(10, 5, "mul"))
print(math_function_parameter(10, 5, "div"))
print(math_function_parameter(10, 5, "foo"))

10
10
0
No division by zero
15
5
50
2.0
Unknown option: foo. Please use sum, sub, mul or div

In [ ]:
def fibonacci(n):
    a, b = 0, 1
    count = 0
    if n <= 0:
        print("Please enter a positive integer.")
    elif n == 1:
        print(a)
    else:
        while count < n:
            print(a, end=" ")
            nth = a + b
            a = b
            b = nth
            count += 1

# Example usage:
fibonacci(10)

0 1 1 2 3 5 8 13 21 34

In [ ]:
## USE THIS SPACE TO PASTE YOUR SOLUTIONS FOR THE ABOVE EXERCISE.

## Individual Exercise 2

1. Using a loop (that is, without using a slice), write a function “reverse_list” and takes a list as input and returns a copy of the list in which all the elements have been swapped (the first element with the last, the second with the next to last, etc.) Test that it works correctly for the following lists:

In [ ]:
 #Test that it works correctly for the following lists:

odd_length = [23, 4, 9, 6, 8, 22, 18]
even_length = [6, 5, 2, 9, 44, 12]
empty_list = []

## USE THIS SPACE TO PASTE YOUR SOLUTIONS FOR THE ABOVE EXERCISE.

In [ ]:
def reverse_list(input: list) -> list:
    """returns a reversed copy of list, leaving original list unchanged"""
    half_list = int(len(input) / 2)
    output = input.copy()
    for idx in range(0, half_list):
        output[idx] = input[len(input) - 1 - idx]
        output[len(input) - 1 - idx] = input[idx]
    return output

# Test as instructed
odd_length = [23, 4, 9, 6, 8, 22, 18]
even_length = [6, 5, 2, 9, 44, 12]
empty_list = []
assert reverse_list(odd_length) == [18, 22, 8, 6, 9, 4, 23]
assert reverse_list(even_length) == [12, 44, 9, 2, 5, 6]
assert reverse_list(empty_list) == empty_list

# Ensure orginal unchanged
assert odd_length == [23, 4, 9, 6, 8, 22, 18]

## Individual Exercise 2

2. Write a function that takes in a string and returns the string with all the vowels
removed.

In [ ]:
def remove_vowels(string):
    """Returns a string with the vowels removed."""
    vowels = "aeiouAEIOU"
    new_string = ""
    for char in string:
        if char not in vowels:
            new_string += char
    return new_string

assert remove_vowels("We all love Python!") == "W ll lv Pythn!"

## Individual Exercise 3

3. Write a function to print all the powers of two, up to and including the twelfth power. Use a while loop to control the iteration and printing. The output should look like this:

In [ ]:
def print_powers_of_two():
    """Print two raised to a number, for numbers in range 0 to 12, inclusive"""
    exponent = 0
    LAST = 12
    while exponent <= LAST:
        print(f"2 to the power of {exponent} is {2**exponent}")
        exponent += 1

print_powers_of_two()

## Individual Exercise 4

4. Write a new function to calculate the same values as we did in #3. This time, write a function named calculate_values to return numbers raised to a power of two in a list, again beginning at 2 to the zero power and ending at 2 to the 12th power as before.

In [ ]:
def calculate_values():
    LAST = 12
    return [2**exponent for exponent in range(0, LAST+1)]

values = calculate_values()
print(values)
assert values[0] == 1
assert values[-1] == 4096