# <u>Lesson 3a: Pandas Key Concepts Deep Dive</u>
Let's review some of the key concepts for Pandas and Numpy that we will use during this course.

In this lesson we will cover:
- What is Pandas?
- Pandas Series
- Pandas DataFrames
- Indexing and Selecting Data
- Data Manipulation
- Grouping and Aggregation
- Merging and Combining Datasets
- Input and Output

### ðŸ“¥ Getting the Tutorial Data

Before we begin, we need to download the example data files used in this tutorial.  
The following function will:
- Clone a GitHub repository containing the data,
- Remove any old copies to avoid conflicts,
- Copy `.txt` and `.csv` files into the current working directory.

Run the cell below to set up your environment.

This will load all the data files needed for the lesson.**bold text**

In [ ]:
def fetch_data():
  import os, shutil
  cwd = os.getcwd()
  if os.path.exists("CosmicAI_WinterSchool"):
    shutil.rmtree("CosmicAI_WinterSchool")
  !git clone https://github.com/aliawofford9317/CosmicAI_WinterSchool.git
  for file in os.listdir("CosmicAI_WinterSchool"):
    if file.endswith((".txt",".csv")):
      shutil.copy("CosmicAI_WinterSchool/{}".format(file),cwd)
fetch_data()

Cloning into 'CosmicAI_WinterSchool'...
remote: Enumerating objects: 79, done.
remote: Counting objects: 100% (79/79), done.
remote: Compressing objects: 100% (73/73), done.
remote: Total 79 (delta 21), reused 0 (delta 0), pack-reused 0 (from 0)
Receiving objects: 100% (79/79), 8.50 MiB | 6.14 MiB/s, done.
Resolving deltas: 100% (21/21), done.

### ðŸ“š Importing Libraries

Letâ€™s start by importing the main library weâ€™ll use in this lesson: **Pandas**.

In [ ]:
import pandas as pd



# <u>What is Pandas?</u>

**Pandas** is a powerful open-source Python library used for data analysis and manipulation. It provides two primary data structuresâ€”**Series** (1D) and **DataFrame** (2D)â€”that make it easy to store, explore, clean, and transform structured data.

Whether you're working with CSV files, Excel sheets, databases, or APIs, Pandas gives you the tools to:
- Load and save data quickly
- Select, filter, and transform columns and rows
- Handle missing or inconsistent values
- Perform group-level operations and aggregations
- Merge and join multiple datasets
- Prepare data for visualization or modeling

---
# <u>Why Pandas Matters in Data Science and Machine Learning?</u>

Pandas is a foundational tool in **data science** and **machine learning workflows**. Real-world data is often messy, incomplete, or unstructuredâ€”and before any modeling can happen, it needs to be cleaned and prepared. Pandas enables you to:

- **Explore datasets** to understand patterns and distributions
- **Preprocess data** (e.g., handling null values, encoding categories)
- **Engineer features** from raw data to improve model performance
- **Integrate seamlessly** with machine learning libraries like scikit-learn and TensorFlow.

Mastering Pandas is a crucial first step for anyone looking to work with data in Pythonâ€”whether youâ€™re analyzing trends, building visualizations, or training predictive models.




## <u>What is a Pandas Series?</u>

A **`Pandas Series`** is a *one-dimensional labeled data structure* that can hold various types of data, such as integers, strings, or floats.

Each value in a Series is associated with a label called an **index**, which allows for flexible and intuitive data access.







### Creating and Accessing Pandas Series

In [ ]:
# Let's create a simple Pandas Series:

data = pd.Series([0.25, 0.5, 0.75, 1.0])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

As you can see, the output of the Series consists of:
- A sequence of **values** (on the right),
- And a corresponding sequence of **index labels** (on the left).

Under the hood, the values in a Pandas Series are stored as a NumPy array.

In [ ]:
# Access the values
data.values

array([0.25, 0.5 , 0.75, 1.  ])



Each Pandas Series has an associated index, which labels each value in the Series.  
By default, if no index is provided, Pandas assigns a `RangeIndex` starting at 0.

We can view the index using the `.index` attribute:

In [ ]:
data.index

RangeIndex(start=0, stop=4, step=1)

We can access individual values in a Series using their index labels.

In [ ]:
# This return shows we accessed the second value in our Pandas Series at (at index `1`)
data[1]

np.float64(0.5)


We can also retrieve a range of values using slicing, just like with Python lists.  
For example, this returns values from index 1 up to (but not including) index 3:

In [ ]:
#This returns values form index 1 up to (but not including) index 3)
data[1:3]

1    0.50
2    0.75
dtype: float64



### <u>Understanding Index-Label Relationships</u>

#### *Whatâ€™s the difference between NumPy indices and Pandas Series indices?*

- One key difference is that **Pandas Series indices can be more than just integers**.  
While NumPy arrays rely strictly on integer-based indexing, a Pandas Series allows for much greater flexibilityâ€”you can use **strings**, **dates**, or even custom labels as your index.

- This means that a Series can behave more like a **labeled dictionary** than a simple array.  
By allowing custom index labels, Pandas makes it easier to work with real-world data where rows are often identified by names, categories, or timestamps rather than numbers.

In [ ]:
# Creating a Series with string-based index labels
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index=['a', 'b', 'c', 'd'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

Once weâ€™ve defined custom index labels, we can use them to directly access values in the Series:

In [ ]:
# Access the value associated with index label 'b'
data['b']

np.float64(0.5)


A **Pandas Series** can also be thought of as a *specialized dictionary*.

Like a dictionary, a Series maps keys (the index) to values.  
In fact, we can create a Series directly from a Python dictionary:

In [ ]:
# Create a dictionary of planetary masses

mass_dict = {'Sun': "1.989 Ã— 10^30 kg",
                   'Mercury': "3.285 Ã— 10^23 kg",
                   'Venus': "4.867 Ã— 10^24 kg",
                   'Earth': "5.972 Ã— 10^24 kg",
                   'Mars': "6.39 Ã— 10^23 kg"}

# Convert the dictionary into a Series
mass = pd.Series(mass_dict)
mass

Sun        1.989 Ã— 10^30 kg
Mercury    3.285 Ã— 10^23 kg
Venus      4.867 Ã— 10^24 kg
Earth      5.972 Ã— 10^24 kg
Mars        6.39 Ã— 10^23 kg
dtype: object

#### *Can We Slice a Pandas Series Like a List?*

- Yes! Just like Python lists, **Pandas Series support slicing** using the standard `start:stop` syntax.

- When you slice a Series, you retrieve a subset of values between two index positions.  
Remember that slicing is **inclusive of the start index and exclusive of the stop index**, just like with Python lists.

- This is helpful when you want to view or operate on just a portion of your data.

In [ ]:
mass['Mercury':'Earth']

Mercury    3.285 Ã— 10^23 kg
Venus      4.867 Ã— 10^24 kg
Earth      5.972 Ã— 10^24 kg
dtype: object

## <u>What is a Pandas DataFrame?</u>

The next key object in Pandas is the **`DataFrame`**. You can think of a DataFrame as a generalization of a matrixâ€”essentially a two-dimensional labeled data structure.

A DataFrame consists of an **ordered sequence of columns**, all sharing the same row index. Each column can be a different data type (e.g., integers, strings, floats), making the DataFrame a very flexible data structure.

### Creating a Pandas Dataframe</u>



Letâ€™s create a new series and then use it to construct a simple DataFrame in the example below.

In [ ]:
# Define a dictionary with surface gravity values (m/sÂ²)
grav_dict = {'Sun': "274 m/sÂ²", 'Mercury': "3.7 m/sÂ²", 'Venus': "8.87 m/sÂ²",
             'Earth': "9.807 m/sÂ²", 'Mars': "3.721 m/sÂ²"}

# Convert the dictionary into a Pandas Series
grav = pd.Series(grav_dict)

# Display the Series
grav

Sun          274 m/sÂ²
Mercury      3.7 m/sÂ²
Venus       8.87 m/sÂ²
Earth      9.807 m/sÂ²
Mars       3.721 m/sÂ²
dtype: object

In [ ]:
# # Combine the mass and gravity Series into a single DataFrame
# Each Series becomes a column in the DataFrame
objects = pd.DataFrame({'mass': mass,
                       'grav': grav})

# Display the resulting DataFrame
objects

                     mass        grav
Sun      1.989 Ã— 10^30 kg    274 m/sÂ²
Mercury  3.285 Ã— 10^23 kg    3.7 m/sÂ²
Venus    4.867 Ã— 10^24 kg   8.87 m/sÂ²
Earth    5.972 Ã— 10^24 kg  9.807 m/sÂ²
Mars      6.39 Ã— 10^23 kg  3.721 m/sÂ²

###  Exploring the Structure of a DataFrame

We can examine the structure of a DataFrame using its built-in attributes.  
For example, we can inspect the **index labels** (which identify the rows) and the **column names** (which identify the data fields).

Letâ€™s take a look at how to access these components using the `.index` and `.columns` attributes.

### Accessing Columns in a DataFrame

You can access individual columns in a DataFrame using bracket notationâ€”similar to accessing values in a dictionary.

In [ ]:
# View the index (row labels) of the DataFrame
objects.index

Index(['Sun', 'Mercury', 'Venus', 'Earth', 'Mars'], dtype='object')

In [ ]:
# read the Dataframe columns
objects.columns

Index(['mass', 'grav'], dtype='object')


Below, we access the `'grav'` column to view surface gravity values for each object.

In [ ]:
# Access one of the Dataframe columns, similar to a dictionary
objects['grav']

Sun          274 m/sÂ²
Mercury      3.7 m/sÂ²
Venus       8.87 m/sÂ²
Earth      9.807 m/sÂ²
Mars       3.721 m/sÂ²
Name: grav, dtype: object

Please notice that we are calling the Dataframe *column*

In [ ]:
# You can access the 'mass' column the same way
objects['mass']

Sun        1.989 Ã— 10^30 kg
Mercury    3.285 Ã— 10^23 kg
Venus      4.867 Ã— 10^24 kg
Earth      5.972 Ã— 10^24 kg
Mars        6.39 Ã— 10^23 kg
Name: mass, dtype: object

### Summarizing Data with `.describe()`

The `.describe()` method in Pandas provides a quick statistical summary of your DataFrame.

For columns containing **numeric values**, it returns statistics like `mean`, `std`, `min`, and `max`.  
For columns containing **non-numeric data** (like strings), it shows values such as `count`, `unique`, `top`, and `freq`.

Since both of our columns currently contain strings (mass and gravity values with units), `.describe()` returns a summary tailored to non-numeric data.

In [ ]:

# Display a summary of each column in the DataFrame

objects.describe()

                    mass      grav
count                  5         5
unique                 5         5
top     1.989 Ã— 10^30 kg  274 m/sÂ²
freq                   1         1

### Previewing Data with `.head()` and `.tail()`

The `.head()` and `.tail()` methods in Pandas allow you to quickly preview the contents of a DataFrame without printing the entire dataset.

- `.head()` displays the **first 5 rows** by default
- `.tail()` displays the **last 5 rows**

These methods are especially useful when you're exploring a new dataset and want to inspect how it begins and ends, including column names, data types, and general formatting.

Letâ€™s open our cereal dataset and use these functions to take a quick look.

In [ ]:
cereal = pd.read_csv('cereal.csv', index_col='name')
cereal.head()

,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
name,,,,,,,,,,,,,,,
100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679
All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912
Almond Delight,R,C,110,2,2,200,1.0,14.0,8,-1,25,3,1.0,0.75,34.384843

In [ ]:
cereal.tail()

,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
name,,,,,,,,,,,,,,,
Triples,G,C,110,2,1,250,0.0,21.0,3,60,25,3,1.0,0.75,39.106174
Trix,G,C,110,1,1,140,0.0,13.0,12,25,25,2,1.0,1.00,27.753301
Wheat Chex,R,C,100,3,1,230,3.0,17.0,3,115,25,1,1.0,0.67,49.787445
Wheaties,G,C,100,3,1,200,3.0,17.0,3,110,25,1,1.0,1.00,51.592193
Wheaties Honey Gold,G,C,110,2,1,200,1.0,16.0,8,60,25,1,1.0,0.75,36.187559

In [ ]:
cereal.describe()

,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
count,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000
mean,106.883117,2.545455,1.012987,159.675325,2.151948,14.597403,6.922078,96.077922,28.246753,2.207792,1.029610,0.821039,42.665705
std,19.484119,1.094790,1.006473,83.832295,2.383364,4.278956,4.444885,71.286813,22.342523,0.832524,0.150477,0.232716,14.047289
min,50.000000,1.000000,0.000000,0.000000,0.000000,-1.000000,-1.000000,-1.000000,0.000000,1.000000,0.500000,0.250000,18.042851
25%,100.000000,2.000000,0.000000,130.000000,1.000000,12.000000,3.000000,40.000000,25.000000,1.000000,1.000000,0.670000,33.174094
50%,110.000000,3.000000,1.000000,180.000000,2.000000,14.000000,7.000000,90.000000,25.000000,2.000000,1.000000,0.750000,40.400208
75%,110.000000,3.000000,2.000000,210.000000,3.000000,17.000000,11.000000,120.000000,25.000000,3.000000,1.000000,1.000000,50.828392
max,160.000000,6.000000,5.000000,320.000000,14.000000,23.000000,15.000000,330.000000,100.000000,3.000000,1.500000,1.500000,93.704912

###  Viewing DataFrame Column Names with `.columns`

The `.columns` attribute displays the list of column names in a DataFrame.
This is especially helpful when working with large datasets, as it quickly shows you which features (variables) are included.

The result is a Pandas `Index` object containing all the column labels.

In [ ]:
cereal.columns

Index(['mfr', 'type', 'calories', 'protein', 'fat', 'sodium', 'fiber', 'carbo',
       'sugars', 'potass', 'vitamins', 'shelf', 'weight', 'cups', 'rating'],
      dtype='object')

###  Identifying Unique Values with `.unique()`

The `.unique()` method returns an array of all **distinct values** in a Series (i.e., a single column of a DataFrame).

This is useful when you're:

* Exploring categorical data (e.g., product types, country names, grades)
* Checking for unexpected or inconsistent entries





---

Let me know if you'd like one for `.value_counts()` or `.shape()` next!

For example, the cell below shows all the unique manufacturer codes in the 'mfr' column of the cereal dataset:

In [ ]:
# Returns an array of the unique manufacturers
cereal.mfr.unique()

array(['N', 'Q', 'K', 'R', 'G', 'P', 'A'], dtype=object)

### Viewing Dataset Summary with `.info()`

The `.info()` method provides a concise **summary of the DataFrameâ€™s structure**, making it a helpful first step in exploring any dataset.

It displays:

* The total number of rows and columns
* The number of **non-null entries** in each column
* The **data type** of each column (e.g., `int64`, `float64`, `object`)
* The **memory usage** of the DataFrame

This method is especially useful for:

* Checking for **missing data**
* Verifying **column types**
* Getting a quick overview of the dataset before further analysis

In [ ]:
# Display a summary of the DataFrame structure
cereal.info()

<class 'pandas.core.frame.DataFrame'>
Index: 77 entries, 100% Bran to Wheaties Honey Gold
Data columns (total 15 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   mfr       77 non-null     object
 1   type      77 non-null     object
 2   calories  77 non-null     int64
 3   protein   77 non-null     int64
 4   fat       77 non-null     int64
 5   sodium    77 non-null     int64
 6   fiber     77 non-null     float64
 7   carbo     77 non-null     float64
 8   sugars    77 non-null     int64
 9   potass    77 non-null     int64
 10  vitamins  77 non-null     int64
 11  shelf     77 non-null     int64
 12  weight    77 non-null     float64
 13  cups      77 non-null     float64
 14  rating    77 non-null     float64
dtypes: float64(5), int64(8), object(2)
memory usage: 9.6+ KB

You can also output the shape of the dataframe with `shape`



### Checking Data Dimensions with `.shape`

The `.shape` attribute returns a tuple that represents the **dimensions** of a DataFrame or Series.

For a DataFrame, it provides:

* The number of **rows** (observations)
* The number of **columns** (features)

This is helpful for quickly understanding the **size** of your dataset and verifying that it was loaded correctly.

Use the code below to check the shape of your DataFrame:

In [ ]:
# Returns the number of rows and columns in the DataFrame
# Should output (77, 15) â†’ 77 rows and 15 columns
cereal.shape

(77, 15)

You can use `.loc` to access specific data.
Lets return the cereals which have a protein content higher that 4.0

###  Indexing and Selecting Data with `.loc[]`

The `.loc[]` accessor in Pandas is used to **select rows and columns by label**.
It is especially powerful for **filtering data** based on conditions.

You can use `.loc[]` to return rows that meet specific criteria.

For example, in the cell below, we return all cereals with a protein content greater than or equal to 4:

In [ ]:
# Return cereals with protein content >= 4.0
cereal.loc[cereal['protein'] >= 4.0]

,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
name,,,,,,,,,,,,,,,
100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912
Cheerios,G,C,110,6,2,290,2.0,17.0,1,105,25,1,1.0,1.25,50.764999
Life,Q,C,100,4,2,150,2.0,12.0,6,95,25,2,1.0,0.67,45.328074
Maypo,A,H,100,4,1,0,0.0,16.0,3,95,25,2,1.0,1.00,54.850917
Muesli Raisins; Dates; & Almonds,R,C,150,4,3,95,3.0,16.0,11,170,25,3,1.0,1.00,37.136863
Muesli Raisins; Peaches; & Pecans,R,C,150,4,3,150,3.0,16.0,11,170,25,3,1.0,1.00,34.139765
Quaker Oat Squares,Q,C,100,4,1,135,2.0,14.0,6,110,25,3,1.0,0.50,49.511874
Quaker Oatmeal,Q,H,100,5,2,0,2.7,-1.0,-1,110,0,1,1.0,0.67,50.828392
Special K,K,C,110,6,0,230,1.0,16.0,3,55,25,1,1.0,1.00,53.131324


You can also combine multiple conditions using logical operators like `&` (AND) and `|` (OR).
The example below returns cereals that have **at least 2g of protein** and **no more than 6g of sugar**:


> **Note**: When using multiple conditions with `.loc[]`, wrap each condition in parentheses.

In [ ]:
# Return cereals with protein >= 2 AND sugars <= 6
cereal.loc[(cereal['protein'] >= 2) & (cereal['sugars'] <= 6)]

,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
name,,,,,,,,,,,,,,,
100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,3,1.00,0.33,68.402973
All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25,3,1.00,0.33,59.425505
All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0,330,25,3,1.00,0.50,93.704912
Bran Chex,R,C,90,2,1,200,4.0,15.0,6,125,25,1,1.00,0.67,49.120253
Bran Flakes,P,C,90,3,0,210,5.0,13.0,5,190,25,3,1.00,0.67,53.313813
Cheerios,G,C,110,6,2,290,2.0,17.0,1,105,25,1,1.00,1.25,50.764999
Corn Chex,R,C,110,2,0,280,0.0,22.0,3,25,25,1,1.00,1.00,41.445019
Corn Flakes,K,C,100,2,0,290,1.0,21.0,2,35,25,1,1.00,1.00,45.863324
Cream of Wheat (Quick),N,H,100,3,0,80,1.0,21.0,0,-1,0,2,1.00,1.00,64.533816
Crispix,K,C,110,2,0,220,1.0,21.0,3,30,25,3,1.00,1.00,46.895644
Double Chex,R,C,100,2,0,190,1.0,18.0,5,80,25,3,1.00,0.75,44.330856
Grape Nuts Flakes,P,C,100,3,1,140,3.0,15.0,5,85,25,3,1.00,0.88,52.076897
Grape-Nuts,P,C,110,3,0,170,3.0,17.0,3,90,25,3,1.00,0.25,53.371007
Great Grains Pecan,P,C,120,3,3,75,3.0,13.0,4,100,25,3,1.00,0.33,45.811716
Just Right Crunchy Nuggets,K,C,110,2,1,170,1.0,17.0,6,60,100,3,1.00,1.00,36.523683
Kix,G,C,110,2,1,260,0.0,21.0,3,40,25,2,1.00,1.50,39.241114
Life,Q,C,100,4,2,150,2.0,12.0,6,95,25,2,1.00,0.67,45.328074
Maypo,A,H,100,4,1,0,0.0,16.0,3,95,25,2,1.00,1.00,54.850917
Multi-Grain Cheerios,G,C,100,2,1,220,2.0,15.0,6,90,25,1,1.00,1.00,40.105965
Nutri-grain Wheat,K,C,90,3,0,170,3.0,18.0,2,90,25,3,1.00,1.00,59.642837
Product 19,K,C,100,3,0,320,1.0,20.0,3,45,100,3,1.00,1.00,41.503540
Puffed Wheat,Q,C,50,2,0,0,1.0,10.0,0,50,0,3,0.50,1.00,63.005645
Quaker Oat Squares,Q,C,100,4,1,135,2.0,14.0,6,110,25,3,1.00,0.50,49.511874
Quaker Oatmeal,Q,H,100,5,2,0,2.7,-1.0,-1,110,0,1,1.00,0.67,50.828392
Raisin Squares,K,C,90,2,0,0,2.0,15.0,6,110,25,3,1.00,0.50,55.333142
Rice Krispies,K,C,110,2,0,290,0.0,22.0,3,35,25,1,1.00,1.00,40.560159
Shredded Wheat,N,C,80,2,0,0,3.0,16.0,0,95,0,1,0.83,1.00,68.235885
Shredded Wheat 'n'Bran,N,C,90,3,0,0,4.0,19.0,0,140,0,1,1.00,0.67,74.472949
Shredded Wheat spoon size,N,C,90,3,0,0,3.0,20.0,0,120,0,1,1.00,0.67,72.801787
Special K,K,C,110,6,0,230,1.0,16.0,3,55,25,1,1.00,1.00,53.131324
Strawberry Fruit Wheats,N,C,90,2,0,15,3.0,15.0,5,90,25,2,1.00,1.00,59.363993
Total Corn Flakes,G,C,110,2,1,200,0.0,21.0,3,35,100,3,1.00,1.00,38.839746
Total Whole Grain,G,C,100,3,1,200,3.0,16.0,3,110,100,3,1.00,1.00,46.658844
Triples,G,C,110,2,1,250,0.0,21.0,3,60,25,3,1.00,0.75,39.106174
Wheat Chex,R,C,100,3,1,230,3.0,17.0,3,115,25,1,1.00,0.67,49.787445
Wheaties,G,C,100,3,1,200,3.0,17.0,3,110,25,1,1.00,1.00,51.592193

### Handling duplicates

Next, weâ€™ll be using the `IMDB-Movie-Data.csv` dataset.
This dataset includes a list of movies along with details such as:

* Genre
* Description
* Director and actors
* Year and runtime
* Ratings, votes, revenue, and metascore

Weâ€™ll load the dataset and use movie titles as the index:

In [ ]:
# Load the dataset and set the movie title as the index
movies = pd.read_csv("IMDB-Movie-Data.csv", index_col='Title')
# Preview the first 5 rows
movies.head()

,Rank,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
Title,,,,,,,,,,,
Guardians of the Galaxy,1,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
Prometheus,2,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
Split,3,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
Sing,4,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
Suicide Squad,5,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0

Although this dataset does not contain duplicate records initially, we can **artificially create duplicates** by appending the dataset to itself. This is helpful for learning how to detect and remove them.

In [ ]:
# Display the number of rows and columns in the dataset
movies.shape

NameError: name 'movies' is not defined

#### Creating Duplicate Rows

Although the original movies dataset doesnâ€™t contain duplicates, we can simulate a common real-world scenario by manually introducing duplicates.
This is useful for practicing how to identify and remove duplicate records.

In the example below, we concatenate the DataFrame to itself to double its size and introduce repeated rows:

In [ ]:
# Manually create duplicate rows by concatenating the DataFrame to itself
dup_movies = pd.concat([movies, movies])

# Preview the resulting DataFrame with duplicated entries
dup_movies.head()

,Rank,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
Title,,,,,,,,,,,
Guardians of the Galaxy,1,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
Prometheus,2,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
Split,3,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
Sing,4,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
Suicide Squad,5,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0

After duplicating the dataset, we can use the .tail() method to inspect the last few rows of the new dup_movies DataFrame.

This allows us to confirm that the duplicated entries have been added to the end:

In [ ]:
# Display the last 5 rows of the duplicated DataFrame
dup_movies.tail()

,Rank,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
Title,,,,,,,,,,,
Secret in Their Eyes,996,"Crime,Drama,Mystery","A tight-knit team of rising investigators, alo...",Billy Ray,"Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...",2015,111,6.2,27585,NaN,45.0
Hostel: Part II,997,Horror,Three American college students studying abroa...,Eli Roth,"Lauren German, Heather Matarazzo, Bijou Philli...",2007,94,5.5,73152,17.54,46.0
Step Up 2: The Streets,998,"Drama,Music,Romance",Romantic sparks occur between two dance studen...,Jon M. Chu,"Robert Hoffman, Briana Evigan, Cassie Ventura,...",2008,98,6.2,70699,58.01,50.0
Search Party,999,"Adventure,Comedy",A pair of friends embark on a mission to reuni...,Scot Armstrong,"Adam Pally, T.J. Miller, Thomas Middleditch,Sh...",2014,93,5.6,4881,NaN,22.0
Nine Lives,1000,"Comedy,Family,Fantasy",A stuffy businessman finds himself trapped ins...,Barry Sonnenfeld,"Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...",2016,87,5.3,12435,19.64,11.0

We now have 2000 movies, 1000 of which are duplicates


After duplicating the dataset, we now have **2,000 rows**â€”but only **1,000 unique movies**. The other 1,000 rows are exact duplicates.

We can confirm this by checking the shape of the `dup_movies` DataFrame:



The output should be `(2000, 11)`, showing that the dataset now contains **2,000 rows** and **11 columns**.

In [ ]:
# Check the number of rows and columns after duplication
dup_movies.shape

(2000, 11)



#### Removing Duplicate Rows with `.drop_duplicates()`

Now that our dataset contains duplicate entries, we can remove them using the `.drop_duplicates()` method.

To modify the DataFrame directly **without assigning it to a new variable**, use the `inplace=True` parameter:

In [ ]:
# Remove duplicate rows in-place
dup_movies.drop_duplicates(inplace=True)

In [ ]:

# Confirm the new shape of the DataFrame
dup_movies.shape

(1000, 11)

The `.drop_duplicates()` method also includes a `keep` argument, which controls **which duplicates to retain**:

* `'first'` *(default)* â€“ Keeps the **first** occurrence and removes the rest
* `'last'` â€“ Keeps the **last** occurrence and removes earlier ones
* `False` â€“ Removes **all** duplicates (no versions are kept)

Example:

```python
# Remove all rows that have duplicates (drop all versions)
dup_movies.drop_duplicates(keep=False, inplace=True)
```

### Cleaning Column Names

Column names in real-world datasets are often inconsistentâ€”they may contain symbols, spaces, or mixed capitalization. Cleaning column names improves readability and makes your code easier to write and debug.

We can start by viewing the original column names of the movies DataFrame:

In [ ]:
# Display the original column names
movies.columns

Index(['Rank', 'Genre', 'Description', 'Director', 'Actors', 'Year',
       'Runtime (Minutes)', 'Rating', 'Votes', 'Revenue (Millions)',
       'Metascore'],
      dtype='object')



#### Renaming Columns Using a Dictionary

To rename specific columns, use the .rename() method and pass a dictionary where keys are the old column names and values are the new names:

In [ ]:
# Rename selected columns for easier access
movies.rename(columns={'Runtime (Minutes)' : 'Runtime',
                        'Revenue (Millions)' : 'Revenue'}, inplace=True)
# Confirm the changes
movies.columns

Index(['Rank', 'Genre', 'Description', 'Director', 'Actors', 'Year', 'Runtime',
       'Rating', 'Votes', 'Revenue', 'Metascore'],
      dtype='object')

In [ ]:
# Now you can easily access the cleaned columns
movies.Revenue

Title
Guardians of the Galaxy    333.13
Prometheus                 126.46
Split                      138.12
Sing                       270.32
Suicide Squad              325.02
                            ...
Secret in Their Eyes          NaN
Hostel: Part II             17.54
Step Up 2: The Streets      58.01
Search Party                  NaN
Nine Lives                  19.64
Name: Revenue, Length: 1000, dtype: float64

In [ ]:
# Now you can easily access the cleaned columns
movies.Runtime

Title
Guardians of the Galaxy    121
Prometheus                 124
Split                      117
Sing                       108
Suicide Squad              123
                          ...
Secret in Their Eyes       111
Hostel: Part II             94
Step Up 2: The Streets      98
Search Party                93
Nine Lives                  87
Name: Runtime, Length: 1000, dtype: int64



#### Renaming All Columns Using the `.columns` Attribute

You can also rename all columns at once by assigning a new list of names to the .columns attribute. For example, to simplify and lowercase all column names:

In [ ]:
# Rename all columns to simplified lowercase names
movies.columns = ['rank', 'genre', 'description', 'director', 'actors', 'year', 'runtime', 'rating', 'votes', 'revenue_millions', 'metascore']

# Check the result
movies.columns

Index(['rank', 'genre', 'description', 'director', 'actors', 'year', 'runtime',
       'rating', 'votes', 'revenue_millions', 'metascore'],
      dtype='object')



#### Automating Renaming with List Comprehension

To standardize all column names (e.g., make them all uppercase or lowercase), you can use list comprehension:

In [ ]:
# Convert all column names to UPPERCASE
movies.columns = [col.upper() for col in movies]
movies.columns

Index(['RANK', 'GENRE', 'DESCRIPTION', 'DIRECTOR', 'ACTORS', 'YEAR', 'RUNTIME',
       'RATING', 'VOTES', 'REVENUE_MILLIONS', 'METASCORE'],
      dtype='object')

In [ ]:
# Convert all column names to lowercase
movies.columns = [col.lower() for col in movies]
movies.columns

Index(['rank', 'genre', 'description', 'director', 'actors', 'year', 'runtime',
       'rating', 'votes', 'revenue_millions', 'metascore'],
      dtype='object')

This is especially useful when working with multiple datasets or APIs where naming conventions are inconsistent.


### Working with missing values

When working with datasets, we are almost guaranteed to find missing data or null values. We can sometimes find `None` of Numpy's `np.nan`. We have two options:
- Get rid of rows or columns with null values.
- Replace null values with something else.

#### Checking for Missing Values

First, lets check if our movie columns contains null values.

`isnull()` will return if each cell in the dataset has a null value, evaluating to `True` or `False`.

In [ ]:
# Check the number of missing values in each column
movies.isnull()

,rank,genre,description,director,actors,year,runtime,rating,votes,revenue_millions,metascore
Title,,,,,,,,,,,
Guardians of the Galaxy,False,False,False,False,False,False,False,False,False,False,False
Prometheus,False,False,False,False,False,False,False,False,False,False,False
Split,False,False,False,False,False,False,False,False,False,False,False
Sing,False,False,False,False,False,False,False,False,False,False,False
Suicide Squad,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
Secret in Their Eyes,False,False,False,False,False,False,False,False,False,True,False
Hostel: Part II,False,False,False,False,False,False,False,False,False,False,False
Step Up 2: The Streets,False,False,False,False,False,False,False,False,False,False,False
Search Party,False,False,False,False,False,False,False,False,False,True,False
Nine Lives,False,False,False,False,False,False,False,False,False,False,False

We can then count the number of nulls in each column using the `sum()` method.

In [ ]:
#Check the number of missing values in each column
movies.isnull().sum()

rank                  0
genre                 0
description           0
director              0
actors                0
year                  0
runtime               0
rating                0
votes                 0
revenue_millions    128
metascore            64
dtype: int64

We can see that our `revenue_millions` column and `metascore` column have null values. To remove a row containing a null value you can use `.dropna()`. To remove a column containing a null value you can change the axis by running `.dropna(axis=1)`. Remember the first axis we get on the shape of a DataFrame is rows, and the second one is columns, this is where the axis 0 = rows, and axis 1 = columns comes from.

Lets see a dropping example with a temporary DF.

In [ ]:
# Copy the original Dataframe into a new variable
drop_movies = movies.copy()
drop_movies.head()

,rank,genre,description,director,actors,year,runtime,rating,votes,revenue_millions,metascore
Title,,,,,,,,,,,
Guardians of the Galaxy,1,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
Prometheus,2,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
Split,3,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
Sing,4,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
Suicide Squad,5,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0

In [ ]:

drop_movies.shape

(1000, 11)

In [ ]:
drop_movies.isnull().sum()

rank                  0
genre                 0
description           0
director              0
actors                0
year                  0
runtime               0
rating                0
votes                 0
revenue_millions    128
metascore            64
dtype: int64

In [ ]:
drop_movies.dropna(inplace=True)

In [ ]:
drop_movies.shape

(838, 11)

In [ ]:
drop_movies.isnull().sum()

rank                0
genre               0
description         0
director            0
actors              0
year                0
runtime             0
rating              0
votes               0
revenue_millions    0
metascore           0
dtype: int64

It seems like a waste to drop all of those rows that were missing some data. Lets replace the missing values with something else in our original dataframe `movies`

In [ ]:
movies.isnull().sum()

rank                  0
genre                 0
description           0
director              0
actors                0
year                  0
runtime               0
rating                0
votes                 0
revenue_millions    128
metascore            64
dtype: int64

#### Selecting a Column with Missing Values

Letâ€™s focus on the revenue_millions column, which contains missing values:

In [ ]:
# Select the revenue column
revenue = movies['revenue_millions']

In [ ]:
# # Display the Series (not a full DataFrame)
revenue

Title
Guardians of the Galaxy    333.13
Prometheus                 126.46
Split                      138.12
Sing                       270.32
Suicide Squad              325.02
                            ...
Secret in Their Eyes          NaN
Hostel: Part II             17.54
Step Up 2: The Streets      58.01
Search Party                  NaN
Nine Lives                  19.64
Name: revenue_millions, Length: 1000, dtype: float64

#### Calculating the Mean of the Column

We can calculate the mean revenue using the .mean() method:

In [ ]:
# Calculate revenue mean
revenue_mean = revenue.mean()
revenue_mean

np.float64(82.95637614678898)

#### Filling Missing Values with the Mean

Lets fill up our missing values with our new `revenue_mean` value using the `.fillna()` method. Remember to use the `inplace=True` to affect the original **Dataframe**.

In [ ]:
# Fill missing values with the mean revenue (in-place)
revenue.fillna(revenue_mean, inplace=True)

#### Confirming Missing Values Are Handled

Letâ€™s verify that there are no more missing values:

In [ ]:
# Re-check missing values after filling
movies.isnull().sum()

rank                  0
genre                 0
description           0
director              0
actors                0
year                  0
runtime               0
rating                0
votes                 0
revenue_millions    128
metascore            64
dtype: int64

### Understanding your variables
Remember you can get a summary of your data using the `describe()` method. Lets describe `movies`

In [ ]:
movies.describe()

,rank,year,runtime,rating,votes,revenue_millions,metascore
count,1000.000000,1000.000000,1000.000000,1000.000000,1.000000e+03,872.000000,936.000000
mean,500.500000,2012.783000,113.172000,6.723200,1.698083e+05,82.956376,58.985043
std,288.819436,3.205962,18.810908,0.945429,1.887626e+05,103.253540,17.194757
min,1.000000,2006.000000,66.000000,1.900000,6.100000e+01,0.000000,11.000000
25%,250.750000,2010.000000,100.000000,6.200000,3.630900e+04,13.270000,47.000000
50%,500.500000,2014.000000,111.000000,6.800000,1.107990e+05,47.985000,59.500000
75%,750.250000,2016.000000,123.000000,7.400000,2.399098e+05,113.715000,72.000000
max,1000.000000,2016.000000,191.000000,9.000000,1.791916e+06,936.630000,100.000000

To describe a single column you can select the column and run the method. You can also describe string columns, like `genre`

In [ ]:
movies.genre.describe()

count                        1000
unique                        207
top       Action,Adventure,Sci-Fi
freq                           50
Name: genre, dtype: object

To count frequency of data you can use `value_counts()`

In [ ]:
# Show top 10 genres
movies.genre.value_counts().head(10)

genre
Action,Adventure,Sci-Fi       50
Drama                         48
Comedy,Drama,Romance          35
Comedy                        32
Drama,Romance                 31
Animation,Adventure,Comedy    27
Action,Adventure,Fantasy      27
Comedy,Drama                  27
Comedy,Romance                26
Crime,Drama,Thriller          24
Name: count, dtype: int64

We can further try to describe relationship in our variables by using the `.corr()` method, this will show the relationship between two variables (bivariate relationship). Positive numbers indicate a positive correlation, one goes up when the other variable goes up. Negative numbers indicate an inverse correlation - one goes up the other goes down. 1.0 indicates a perfect correlation.

In [ ]:
movies.select_dtypes(include='number').corr()

,rank,year,runtime,rating,votes,revenue_millions,metascore
rank,1.000000,-0.261605,-0.221739,-0.219555,-0.283876,-0.271592,-0.191869
year,-0.261605,1.000000,-0.164900,-0.211219,-0.411904,-0.126790,-0.079305
runtime,-0.221739,-0.164900,1.000000,0.392214,0.407062,0.267953,0.211978
rating,-0.219555,-0.211219,0.392214,1.000000,0.511537,0.217654,0.631897
votes,-0.283876,-0.411904,0.407062,0.511537,1.000000,0.639661,0.325684
revenue_millions,-0.271592,-0.126790,0.267953,0.217654,0.639661,1.000000,0.142397
metascore,-0.191869,-0.079305,0.211978,0.631897,0.325684,0.142397,1.000000

### Manipulating Dataframes
On the next section we will further explore how to explore Dataframe and Series:
- Selecting columns
- Selecting rows
- Conditional selections

By now we now how to select columns using square brackets

In [ ]:
genre_col = movies['genre']
genre_col

Title
Guardians of the Galaxy     Action,Adventure,Sci-Fi
Prometheus                 Adventure,Mystery,Sci-Fi
Split                               Horror,Thriller
Sing                        Animation,Comedy,Family
Suicide Squad              Action,Adventure,Fantasy
                                     ...
Secret in Their Eyes            Crime,Drama,Mystery
Hostel: Part II                              Horror
Step Up 2: The Streets          Drama,Music,Romance
Search Party                       Adventure,Comedy
Nine Lives                    Comedy,Family,Fantasy
Name: genre, Length: 1000, dtype: object

The following code returns a Series. To extract a column as a DataFrame you need to pass a list of column names, in our case a single column

In [ ]:
type(genre_col)

pandas.core.series.Series

In [ ]:
genre_col = movies[['genre']]
type(genre_col)

pandas.core.frame.DataFrame

Since its just a list, adding another column name is easy

In [ ]:
subset = movies[['genre', 'rating']]
subset.head()

                                            genre  rating
Title
Guardians of the Galaxy   Action,Adventure,Sci-Fi     8.1
Prometheus               Adventure,Mystery,Sci-Fi     7.0
Split                             Horror,Thriller     7.3
Sing                      Animation,Comedy,Family     7.2
Suicide Squad            Action,Adventure,Fantasy     6.2

#### Data by rows
For rows we have two options:
- `.loc` - locates by name
- `.iloc` - locates by numerical index

We are still indexed by movie Title so to use `.loc` we give the Title of the movie

In [ ]:
prom = movies.loc['Prometheus']
prom

rank                                                                2
genre                                        Adventure,Mystery,Sci-Fi
description         Following clues to the origin of mankind, a te...
director                                                 Ridley Scott
actors              Noomi Rapace, Logan Marshall-Green, Michael Fa...
year                                                             2012
runtime                                                           124
rating                                                            7.0
votes                                                          485820
revenue_millions                                               126.46
metascore                                                        65.0
Name: Prometheus, dtype: object

With `.iloc` we would give the numerical index of the movie

In [ ]:
movies.iloc[1]

rank                                                                2
genre                                        Adventure,Mystery,Sci-Fi
description         Following clues to the origin of mankind, a te...
director                                                 Ridley Scott
actors              Noomi Rapace, Logan Marshall-Green, Michael Fa...
year                                                             2012
runtime                                                           124
rating                                                            7.0
votes                                                          485820
revenue_millions                                               126.46
metascore                                                        65.0
Name: Prometheus, dtype: object

These methods can be thought of as similar to `list` slicing. Lets select multiple rows.

In [ ]:
subset = movies.loc['Prometheus':'Sing']
subset

,rank,genre,description,director,actors,year,runtime,rating,votes,revenue_millions,metascore
Title,,,,,,,,,,,
Prometheus,2,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
Split,3,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
Sing,4,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0

In [ ]:
# Or using iloc
movies.iloc[1:4]

,rank,genre,description,director,actors,year,runtime,rating,votes,revenue_millions,metascore
Title,,,,,,,,,,,
Prometheus,2,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
Split,3,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
Sing,4,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0

#### Conditional Selection

 Let's say we want to filter our movies to show only films directed by Ridley Scott or films with a rating greater than or equal to 8.0.

Here is an example of those conditions:

In [ ]:
condition = (movies['director'] == 'Ridley Scott')
condition.head()

Title
Guardians of the Galaxy    False
Prometheus                  True
Split                      False
Sing                       False
Suicide Squad              False
Name: director, dtype: bool

In [ ]:
# Filter out movies that dont fulfill the condition
# Show only movies by this director
# Select movies df where movies director equals Ridley Scott
movies[movies['director'] == 'Ridley Scott']

,rank,genre,description,director,actors,year,runtime,rating,votes,revenue_millions,metascore
Title,,,,,,,,,,,
Prometheus,2,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
The Martian,103,"Adventure,Drama,Sci-Fi",An astronaut becomes stranded on Mars after hi...,Ridley Scott,"Matt Damon, Jessica Chastain, Kristen Wiig, Ka...",2015,144,8.0,556097,228.43,80.0
Robin Hood,388,"Action,Adventure,Drama","In 12th century England, Robin and his band of...",Ridley Scott,"Russell Crowe, Cate Blanchett, Matthew Macfady...",2010,140,6.7,221117,105.22,53.0
American Gangster,471,"Biography,Crime,Drama","In 1970s America, a detective works to bring d...",Ridley Scott,"Denzel Washington, Russell Crowe, Chiwetel Eji...",2007,157,7.8,337835,130.13,76.0
Exodus: Gods and Kings,517,"Action,Adventure,Drama",The defiant leader Moses rises up against the ...,Ridley Scott,"Christian Bale, Joel Edgerton, Ben Kingsley, S...",2014,150,6.0,137299,65.01,52.0
The Counselor,522,"Crime,Drama,Thriller",A lawyer finds himself in over his head when h...,Ridley Scott,"Michael Fassbender, PenÃ©lope Cruz, Cameron Dia...",2013,117,5.3,84927,16.97,48.0
A Good Year,531,"Comedy,Drama,Romance",A British investment broker inherits his uncle...,Ridley Scott,"Russell Crowe, Abbie Cornish, Albert Finney, M...",2006,117,6.9,74674,7.46,47.0
Body of Lies,738,"Action,Drama,Romance",A CIA agent on the ground in Jordan hunts down...,Ridley Scott,"Leonardo DiCaprio, Russell Crowe, Mark Strong,...",2008,128,7.1,182305,39.38,57.0

We can create more conditions by using the logical operators `|` "or" and `&` "and".

Lets filter to show movies only by Christopher Nolan or Ridley Scott

In [ ]:
movies[(movies['director'] == 'Christopher Nolan') | (movies['director'] == 'Ridley Scott')]

,rank,genre,description,director,actors,year,runtime,rating,votes,revenue_millions,metascore
Title,,,,,,,,,,,
Prometheus,2,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
Interstellar,37,"Adventure,Drama,Sci-Fi",A team of explorers travel through a wormhole ...,Christopher Nolan,"Matthew McConaughey, Anne Hathaway, Jessica Ch...",2014,169,8.6,1047747,187.99,74.0
The Dark Knight,55,"Action,Crime,Drama",When the menace known as the Joker wreaks havo...,Christopher Nolan,"Christian Bale, Heath Ledger, Aaron Eckhart,Mi...",2008,152,9.0,1791916,533.32,82.0
The Prestige,65,"Drama,Mystery,Sci-Fi",Two stage magicians engage in competitive one-...,Christopher Nolan,"Christian Bale, Hugh Jackman, Scarlett Johanss...",2006,130,8.5,913152,53.08,66.0
Inception,81,"Action,Adventure,Sci-Fi","A thief, who steals corporate secrets through ...",Christopher Nolan,"Leonardo DiCaprio, Joseph Gordon-Levitt, Ellen...",2010,148,8.8,1583625,292.57,74.0
The Martian,103,"Adventure,Drama,Sci-Fi",An astronaut becomes stranded on Mars after hi...,Ridley Scott,"Matt Damon, Jessica Chastain, Kristen Wiig, Ka...",2015,144,8.0,556097,228.43,80.0
The Dark Knight Rises,125,"Action,Thriller",Eight years after the Joker's reign of anarchy...,Christopher Nolan,"Christian Bale, Tom Hardy, Anne Hathaway,Gary ...",2012,164,8.5,1222645,448.13,78.0
Robin Hood,388,"Action,Adventure,Drama","In 12th century England, Robin and his band of...",Ridley Scott,"Russell Crowe, Cate Blanchett, Matthew Macfady...",2010,140,6.7,221117,105.22,53.0
American Gangster,471,"Biography,Crime,Drama","In 1970s America, a detective works to bring d...",Ridley Scott,"Denzel Washington, Russell Crowe, Chiwetel Eji...",2007,157,7.8,337835,130.13,76.0
Exodus: Gods and Kings,517,"Action,Adventure,Drama",The defiant leader Moses rises up against the ...,Ridley Scott,"Christian Bale, Joel Edgerton, Ben Kingsley, S...",2014,150,6.0,137299,65.01,52.0
The Counselor,522,"Crime,Drama,Thriller",A lawyer finds himself in over his head when h...,Ridley Scott,"Michael Fassbender, PenÃ©lope Cruz, Cameron Dia...",2013,117,5.3,84927,16.97,48.0
A Good Year,531,"Comedy,Drama,Romance",A British investment broker inherits his uncle...,Ridley Scott,"Russell Crowe, Abbie Cornish, Albert Finney, M...",2006,117,6.9,74674,7.46,47.0
Body of Lies,738,"Action,Drama,Romance",A CIA agent on the ground in Jordan hunts down...,Ridley Scott,"Leonardo DiCaprio, Russell Crowe, Mark Strong,...",2008,128,7.1,182305,39.38,57.0

We could also use the `.isin()` method to make this more concise

In [ ]:
movies[movies['director'].isin(['Christopher Nolan', 'Ridley Scott'])]

,rank,genre,description,director,actors,year,runtime,rating,votes,revenue_millions,metascore
Title,,,,,,,,,,,
Prometheus,2,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
Interstellar,37,"Adventure,Drama,Sci-Fi",A team of explorers travel through a wormhole ...,Christopher Nolan,"Matthew McConaughey, Anne Hathaway, Jessica Ch...",2014,169,8.6,1047747,187.99,74.0
The Dark Knight,55,"Action,Crime,Drama",When the menace known as the Joker wreaks havo...,Christopher Nolan,"Christian Bale, Heath Ledger, Aaron Eckhart,Mi...",2008,152,9.0,1791916,533.32,82.0
The Prestige,65,"Drama,Mystery,Sci-Fi",Two stage magicians engage in competitive one-...,Christopher Nolan,"Christian Bale, Hugh Jackman, Scarlett Johanss...",2006,130,8.5,913152,53.08,66.0
Inception,81,"Action,Adventure,Sci-Fi","A thief, who steals corporate secrets through ...",Christopher Nolan,"Leonardo DiCaprio, Joseph Gordon-Levitt, Ellen...",2010,148,8.8,1583625,292.57,74.0
The Martian,103,"Adventure,Drama,Sci-Fi",An astronaut becomes stranded on Mars after hi...,Ridley Scott,"Matt Damon, Jessica Chastain, Kristen Wiig, Ka...",2015,144,8.0,556097,228.43,80.0
The Dark Knight Rises,125,"Action,Thriller",Eight years after the Joker's reign of anarchy...,Christopher Nolan,"Christian Bale, Tom Hardy, Anne Hathaway,Gary ...",2012,164,8.5,1222645,448.13,78.0
Robin Hood,388,"Action,Adventure,Drama","In 12th century England, Robin and his band of...",Ridley Scott,"Russell Crowe, Cate Blanchett, Matthew Macfady...",2010,140,6.7,221117,105.22,53.0
American Gangster,471,"Biography,Crime,Drama","In 1970s America, a detective works to bring d...",Ridley Scott,"Denzel Washington, Russell Crowe, Chiwetel Eji...",2007,157,7.8,337835,130.13,76.0
Exodus: Gods and Kings,517,"Action,Adventure,Drama",The defiant leader Moses rises up against the ...,Ridley Scott,"Christian Bale, Joel Edgerton, Ben Kingsley, S...",2014,150,6.0,137299,65.01,52.0
The Counselor,522,"Crime,Drama,Thriller",A lawyer finds himself in over his head when h...,Ridley Scott,"Michael Fassbender, PenÃ©lope Cruz, Cameron Dia...",2013,117,5.3,84927,16.97,48.0
A Good Year,531,"Comedy,Drama,Romance",A British investment broker inherits his uncle...,Ridley Scott,"Russell Crowe, Abbie Cornish, Albert Finney, M...",2006,117,6.9,74674,7.46,47.0
Body of Lies,738,"Action,Drama,Romance",A CIA agent on the ground in Jordan hunts down...,Ridley Scott,"Leonardo DiCaprio, Russell Crowe, Mark Strong,...",2008,128,7.1,182305,39.38,57.0

Can you get all movies with the following conditions?


- Released between 2005 and 2010
- Have a rating above 8.0
- Made below the 25th percentile in revenue

In [ ]:
movies[((movies['year'] >= 2005) & (movies['year'] <= 2010)) # get movies between years 2005 and 2010
      & (movies['rating'] > 8.0) # get movies with rating greater than 8.0
      & (movies['revenue_millions'] < movies['revenue_millions'].quantile(0.25))] # get movies with revenue less than 25th percentile

,rank,genre,description,director,actors,year,runtime,rating,votes,revenue_millions,metascore
Title,,,,,,,,,,,
3 Idiots,431,"Comedy,Drama",Two friends are searching for their long lost ...,Rajkumar Hirani,"Aamir Khan, Madhavan, Mona Singh, Sharman Joshi",2009,170,8.4,238789,6.52,67.0
The Lives of Others,477,"Drama,Thriller","In 1984 East Berlin, an agent of the secret po...",Florian Henckel von Donnersmarck,"Ulrich MÃ¼he, Martina Gedeck,Sebastian Koch, Ul...",2006,137,8.5,278103,11.28,89.0
Incendies,714,"Drama,Mystery,War",Twins journey to the Middle East to discover t...,Denis Villeneuve,"Lubna Azabal, MÃ©lissa DÃ©sormeaux-Poulin, Maxim...",2010,131,8.2,92863,6.86,80.0
Taare Zameen Par,992,"Drama,Family,Music",An eight-year-old boy is thought to be a lazy ...,Aamir Khan,"Darsheel Safary, Aamir Khan, Tanay Chheda, Sac...",2007,165,8.5,102697,1.20,42.0

If you want to check this, you can remember we used `.describe()` to get the 25th percentile of revenue and it was about 17.4, we can access the value directly by using the `quantile()` method with a float of 0.25.

In [ ]:
movies.describe()

,rank,year,runtime,rating,votes,revenue_millions,metascore
count,1000.000000,1000.000000,1000.000000,1000.000000,1.000000e+03,872.000000,936.000000
mean,500.500000,2012.783000,113.172000,6.723200,1.698083e+05,82.956376,58.985043
std,288.819436,3.205962,18.810908,0.945429,1.887626e+05,103.253540,17.194757
min,1.000000,2006.000000,66.000000,1.900000,6.100000e+01,0.000000,11.000000
25%,250.750000,2010.000000,100.000000,6.200000,3.630900e+04,13.270000,47.000000
50%,500.500000,2014.000000,111.000000,6.800000,1.107990e+05,47.985000,59.500000
75%,750.250000,2016.000000,123.000000,7.400000,2.399098e+05,113.715000,72.000000
max,1000.000000,2016.000000,191.000000,9.000000,1.791916e+06,936.630000,100.000000

In [ ]:
subset.to_csv('subset.csv') # this is how you save a selection to csv
# the code above will create a new csv called 'subset.csv'

## ðŸ›‘ **End of Lesson 3a: Pandas Key Concepts Deep Dive**

## **Please proceed to Lesson 3b: NumPy to continue the tutorial.**



Please complete the following Tasks:

- âœ… **Lesson 3 Terminology Quiz**
- âœ… **Lesson 3 Coding Exercises**

ðŸ“© Submit all solutions to your instructor once complete.